.images{
    position: relative;
    left: 50%;
    transform: translate(50%, 50%);
    width: 100px;    
    margin-top: 0px;
    margin-left: -70px;
}
.divisao{


margin-top: 20px;

}
.email_nome{

    position: relative;
    text-align: center;
    padding-right: 15pc;
}
.nome_usuario{
    margin-left: 300px;
    margin-top: 100px;
    font-family: Roboto,sans-serif;
    position: center;
}
.email_quiz{
font-family: Roboto,sans-serif;
margin-top: 80px;
margin-left: 300px;


}
.input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
  }
  
.input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
  }
.nome{

    margin-top: 30px;


  }
h1{

    font-size: medium;
    margin-top: -70px;

}
h2{

    font-size: medium;
    margin-top: -70px;
}
.pergunta1{

    margin-top: 100px;
    font-family: Roboto,sans-serif;
    position: relative;
    text-align: center;
    font-weight: bold;
}
.pergunta2{

margin-top: 10px;
font-family: Roboto,sans-serif;
font-weight: bold;
text-align: center;
margin-top: 50px;

}
.pergunta3{

    font-family: Roboto,sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;

}
.pergunta4{

    font-family: Roboto,sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;

}
.pergunta5{
    
    font-family: Roboto,sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    flex-direction: column;
    align-items: center ;
    
}
.pergunta6{

    font-family: Roboto,sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    flex-direction: column;
    align-items: center ;

}
.pergunta7{

    font-family: Roboto,sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    flex-direction: column;
    align-items: center ;


}
.perguntas input{

    cursor: pointer;
    width: 12px;
    height: 12px;
}
.perguntas input:checked{

    -webkit-appearance: none;
    background-color: red;
    border-radius: 20px;

}
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
button.learn-more {
    width: 12rem;
    height: auto;
   }
   
button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background:red;
    border-radius: 1.625rem;
   }
   
button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color:#282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    font-family: Roboto,sans-serif;
   }
   
button:hover .circle {
    width: 100%;
   }
   
button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
button:hover .button-text {
    color: #fff;
   }
.texto{

    text-align: center;
    margin-top: 50px;
    font-family: Roboto,sans-serif;
    font-weight: bold;
}
.botao_enviar{

    text-align: center;
    font-family: Roboto,sans-serif;
    font-weight: bold;


}
.btn {
    --color: red;
    --color2:white;
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
   }
   
.btn::after, .btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
.btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
.btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
.btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
 }
   
.btn:hover {
    color: var(--color2);
 }
   
.btn:active {
    filter: brightness(.7);
    transform: scale(.98);
   }

